 body{
            padding: 0;
            margin: 0;
            display: grid;
            background-color: rgb(245,245,248);
        }
        /* nav */
        .nav-bar{
            background-color:rgb(19,67,97);
            width: 100%;
            height: 65px;
            display: flex;
    justify-content: space-between;
        }  

        .nav-bar img{
            margin-left: 20em;
        }

        .parent{
            display: flex;
            gap: 50px;
            margin-right: 25em;
            
        }
        
        .parent .list{
            list-style-type: none;

        }

        .parent  .list .link{
            font-size: 15px;
            color: white;
            text-decoration: none;
        }

        .divimg{
            background-color: #fff;
        }

        .image01{
            /* width: 100%; */
            height: 50vh;
            margin-top: 3em;
            margin-left: 13em;
            padding-bottom: 2em;
        }

        .background{
            background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),url(/teach.JPG);
            background-size: cover;
            /* -moz-background-size: cover; */
            /* -webkit-background-size: cover; */
            /* -o-background-size: cover; */
            /* overflow: hidden; */
            height: 90vh;
            width: 100%;
            background-repeat: no-repeat;
        }

        .background .back{
            text-align: center;
            color: white;
            margin-top: 7em;
            font-weight: bold;
            font-size: 32px;
            font-family:Arial, Helvetica, sans-serif
        }
/* nav */

        .main{
            margin: 0 auto;
            /* border: 1px solid red; */
            width: 35%;
            padding: 20px 100px ;
            display: grid;
            justify-items: center;
             }
            
             .pcontainer{
                margin-top: 20px;
                color: rgb(89,98,117);
                font-weight: 3em;
                font-size: 19px;
             }
             .h2{
                color: rgb(54,65,77);
                margin-left: 20%; 
                font-weight: 500px;

             }
             .p2container{
                margin-top: 10%;
             }
             .p2container p{
                /* margin-top: 10%; */
                text-align: center;
                font-size:medium;
                /* border: 1px solid red; */
                
             }
             .p1{
                /* margin-top: -30px; */
                color: rgb(85,65,82);

                font-size: 18px;
             }
             .p2{
                /* margin-top: 3%; */
                color: rgb(85,65,82);

                font-size: 20px;
             }
             .div{
                display: grid;
                justify-content: center;
                width: 65%;
                text-align: center;
                margin-bottom: 140px;
                background-color: white;
             }
             .div:hover{
                box-shadow: 1px 1px 10px rgb(179, 179, 179);
             }
             .div #img{
                width: 100%;
                height: 180px;

             }
             .div p{
                width: 100%;
                padding: 10px 3px;
        }
        .footer{
            background-color: rgb(19,67,97);
           /* border: 1px solid red; */
            height: 140px;
        }
        /* footer {
            background-color: rgb(19,67,97);
            bottom:0;
            left:0;
            width:100%;
            height: 90px;
        } */

        .list:hover{
            text-decoration: underline;
            color: white;
        }
        .list{
            display: flex;
            color: rgb(240,252,235);
            justify-content: space-around;
            font-size: small;
        }
        li {
            list-style: none;
        }
        .Front{
            color: rgb(255,63,75);
        }
        .tech .gene{
            justify-content: space-around;
            color:rgb(255,63,75) ;
            margin-left: -120px;
            
        }
        .tech{
            /* border: 1px solid red; */
            height: 20px;
            position: relative;
        }
        .tech img{
            /* border: 1px solid red; */
            /* width: 30%; */
            display: flex;
            height: 20px;
            align-items: center;
            position: absolute;
            
        }
        .tech .free{
            position: absolute;
            right: 25px;
            color: red;
        }
        .subContainer{
            /* border: 1px solid red; */
            padding: 0 20px;
        }

        